body {
    background-size: cover;
    margin: 0;
    text-align: center;
    overflow: hidden;
    background-size: 1450px;
    background-image: url('background_pohon.jpg');

}

.container {
    text-align: center;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    width: 800px;
    align-self: flex-end;
    font-size: 50px;
    font-family: cursive;
}

.word-container, .drop-zone {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    width: 200;
    
}

.letter {
    background-color: #4caf50;
    color: white;
    padding: 40px 50px;
    margin: 20px;
    border-radius: 5px;
    cursor: grab;
    font-family: cursive;
    font-size: 30px;
    user-select: none;
    transition: transform 0.2s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.letter:active {
    transform: scale(1.1);
}

/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.drop-zone {
    border: 2px dashed #333;
    min-height: 50px;
    padding: 25px;
    border-radius: 5px;
    background-color: #f0f0f0;
    transition: background-color 0.3s;
    width: 100%;
    max-width: 700px;
}


.drop-zone.dragover {
    background-color: #d3ffd3;
}

.drop-zone .letter {
    background-color: #ffeb3b;
    color: black;
    border: 2px solid #333;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
}

button {
    background-color: #53d97b;
    color: white;
    border: none;
    padding: 50px 200px;
    margin-top: 20px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
}

button:hover {
    background-color: #0fa19e;
}
#quitButton {
    background-color: #ff4d4d;
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#quitButton:hover {
    background-color: #cc0000;
}
body {
    font-family: cursive;
    font-size: 50px;
}

.container {
    text-align: center;
    margin-top: 10px;
    padding: 50px;
}

.word-container, .drop-zone {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.letter {
    padding: 10px;
    margin: 5px;
    border: 1px solid #000;
    cursor: pointer;
}

.custom-alert {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-alert-content {
    background: #fff;
    padding: 20px;
    width: 500px;
    text-align: center;
    border-radius: 5px;
}

.custom-alert-content p {
    margin: 0 0 20px 0;
    font-family: cursive;
    font-weight:bold ;
    font-size: 50px;
}

.custom-alert-content button {
    padding: 10px 20px;
    border: none;
    background: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

#clue-container {
    margin: 20px;
    font-size: 35px;
    text-align: center;
    font-family: cursive;

}



